body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#player-controls {
    margin-top: 20px;
}

#volume-controls {
    margin-top: 20px;
}

#playlists {
    margin-top: 20px;
}

.playlist {
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.playlist img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
